In [155]:
import streamlit as st
import pandas as pd
import json
import plotly.express as px
import plotly.graph_objects as go
import numpy as np

with open('inventario_ganado.json',encoding = "utf8") as json_data: #Cargar Json 
    data = json.load(json_data)  
            
#Datos de los nacimientos y muertes
vacuno = data["vacuno"]["Total"]
porcino = data["porcino"]["Existencia(Mcabz)"]["Total"]
nacimientos_vacunos = data["vacuno"]["Nacimientos_muertes(Mcabz)"]["Nacimientos"]["Totales"]
muertes_vacuno = data["vacuno"]["Nacimientos_muertes(Mcabz)"]["Muertes"]["Totales"]
nacimientos_porcinos = data["porcino"]["Nacimientos (vivos)(Mcabz)"]["Total"]
muertes_porcinos = data["porcino"]["Muertes de cr√≠as (a)(Mcabz)"]["Total"]
tasa_vacuno = {}    
tasa_porcino = data["porcino"]["Tasa de mortalidad (por 100nacidos)(%)"]["Total"]
for year in vacuno:
    tasa_vacuno[year] = round((muertes_vacuno[year]/vacuno[year])*1000,2)
tasas = pd.DataFrame({"Vacuno":tasa_vacuno,
                      "Porcino":tasa_porcino})
tasas

      Vacuno Porcino
1985   44.01       .
1986   39.34       .
1987   41.05       .
1988   43.29       .
1989   37.83       .
1990   51.93       .
1991   52.67       .
1992   71.59       .
1993   59.18    28.8
1994   47.97    23.4
1995   47.43    16.6
1996   42.92    17.4
1997   41.06    17.2
1998   38.98    16.7
1999   50.50    14.8
2000   44.18    14.6
2001   40.88    18.9
2002   52.82    13.3
2003   40.22    13.3
2004   74.49    15.1
2005   63.13    14.9
2006   44.18    15.3
2007   45.44    11.4
2008   42.92    12.8
2009   45.93    12.2
2010   39.77    12.2
2011   51.05    12.0
2012   41.48    12.6
2013   45.01    11.8
2014   36.19    11.8
2015   52.74    11.8
2016   34.58    10.2
2017   50.03     8.5
2018   36.52     5.8
2019   39.56     5.1
2020   44.16    11.9
2021   40.96    12.7
2022   43.45    12.8